Module.symvers
*.o
*.cmd
*.order
modules.builtin
*.mod.c
*.ko
.*.d
*.so
*.dbg
*.a
*.bin
*.s
*.elf
.tmp_vmlinux*
.tmp_versions
debian
debian.master
.config.old
.tmp_System.map
.version
System.map
vmlinux
vmlinux-gdb.py
